{% extends 'base.html.twig' %}

{% block title %}{{ page_title }} - OAuth School{% endblock %}

{% block body %}

<div class="container guide">
  <div class="row">
    <div class="col-md-10 ml-md-auto">

      <h1>{{ page_title }}</h1>

      {% if app.session.get('complete_' ~ base_route) %}
        <div class="alert alert-success alert-large">
          <i class="fas fa-check-circle"></i> You have completed this exercise!
        </div>
      {% endif %}

      {% if app.session.get('complete_introduction') == false %}
        <div class="alert alert-warning" role="alert">
          <div>You need to complete the first exercise and enter your server's issuer URL before you can continue!</div>
          <div><a href="{{ path('introduction') }}">Back to Exercise 1</a></div>
        </div>
      {% endif %}

      {% for message in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">
          {{ message }}
        </div>
      {% endfor %}

      {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
          {{ message }}
        </div>
      {% endfor %}

      <p>This exercise will walk you through the process of using the OAuth Client Credentials grant to get an access token.</p>

      <p>The goal of this exercise is to get an access token using the client credentials grant. This exercise will walk you through the flow manually without writing any code. You are of course free to write code to do this instead if you’d like, but the instructions here will show you the step by step process of what’s happening under the hood.</p>

      <p>From the side menu of your Auth0 dashboard, click on <b>Applications</b> and choose <b>Applications</b>.</p>

      <img class="small" src="/images/client-credentials/image5.png">

      <p>Click <b>Create Application</b>, then choose <b>Machine to Machine Applications</b> as the application type.</p>

      <img class="small" src="/images/client-credentials/image2.png">

      <p>Next you’ll need to select the API you want to allow this application to be able to access.</p>

      <img class="small" src="/images/client-credentials/image1.png">

      <p>Choose the API you created in the Getting Started exercise.</p>

      <img class="small" src="/images/client-credentials/image3.png">

      <p>Click <b>Authorize</b> to finish creating the machine-to-machine application, then click the Settings tab to see the client ID and secret. You’ll need these to complete the flow.</p>

      <img class="small" src="/images/client-credentials/image4.png">

      <p>With the application credentials in hand, you’re ready to get an access token! To do that, you’ll need to use the authorization server’s token endpoint that you found in the <a href="/exercise/introduction/">introduction exercise</a>. Look up the URL from your notes or copy it from the introduction exercise.</p>

      <p>Since this is a machine-to-machine flow, there is no user involved in the flow so there is no browser involved either. The application can make a direct request to the authorization server’s token endpoint to get an access token. If you’re using curl, replace the placeholder values in the request below with your own. (Make sure to replace the curly brackets, those are just to indicate placeholder values.)</p>

        <textarea class="form-control code" rows="5">curl -X POST {{ app.session.get('token_endpoint') ?? 'https://xxxxxx.us.auth0.com/oauth/token' }} \
  -d grant_type=client_credentials \
  -d client_id={YOUR_CLIENT_ID} \
  -d client_secret={YOUR_CLIENT_SECRET}</textarea>

      <p>If everything worked, you’ll get a response that includes an access token! Paste the entire response (not just the access token) below to check your work!</p>

      <h2>Token Response</h2>
      <div class="card bg-light mb-3 mt-3 {{ app.session.get('complete_introduction') ? '' : 'disabled' }}">
        <div class="card-body">

          <form method="post" action="{{ path(base_route ~ '/save') }}">
            <div class="mb-3">
              <textarea class="form-control" name="tokenResponse" aria-describedby="tokenHelp" rows="8" placeholder="{&#13;  &quot;token_type&quot;: &quot;Bearer&quot;,&#13;  ...&#13;}"></textarea>
              <div id="tokenHelp" class="form-text">Use the client credentials grant to get an access token, then paste the entire token response JSON here to check your work</div>
            </div>
            <button type="submit" class="btn btn-primary">Check Your Response</button>
          </form>

        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}
