{% extends 'base.html.twig' %}

{% block title %}Introduction - OAuth School{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-md-10 ml-md-auto">
      <h1>Getting Started</h1>

      {% if app.session.get('complete_introduction') %}
        <div class="alert alert-success alert-large">
          <i class="fas fa-check-circle"></i> You have completed this exercise!
        </div>
      {% endif %}

      <p>In this exercise you'll create a new Okta developer account and enter your Issuer URL. Please make sure to also add at least one custom scope and make that scope available in your server's public metadata.</p>

      <div class="card bg-light mb-3 mt-3">
        <div class="card-body">

          {% for message in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
          {% endfor %}

          {% for message in app.flashes('success') %}
            <div class="alert alert-success" role="alert">
              {{ message }}
            </div>
          {% endfor %}

          <form method="post" action="{{ path('introduction/save') }}">
            <div class="mb-3">
              <label for="issuer" class="form-label">Issuer URL</label>
              <input type="url" class="form-control" id="issuer" name="issuer" aria-describedby="issuerHelp" placeholder="https://dev-xxxxxxxx.us.auth0.com" value="{{ issuer }}" {{ issuer ? "disabled" : "" }}>
              <div id="issuerHelp" class="form-text">We'll save the issuer URL to use it when checking your work in the following exercises</div>
            </div>
            {% if scopes %}
              <div class="mb-3">
                <label for="scopes" class="form-label">Scopes</label>
                <input type="text" class="form-control" id="scopes" name="scopes" aria-describedby="scopesHelp" value="{{ scopeString }}" disabled>
                <div id="issuerHelp" class="form-text">We found the following custom scopes in your OAuth server metadata</div>
              </div>
            {% endif %}
            {% if step2 == false %}
              <button type="submit" class="btn btn-primary">Continue</button>
            {% endif %}
          </form>

          {% if step2 %}
            <form method="post" action="{{ path('introduction/check') }}">
              <div class="mb-3">
                <label for="authorization_endpoint" class="form-label">Authorization Endpoint</label>
                <input type="url" class="form-control" name="authorization_endpoint" aria-describedby="authorization_endpoint_help"value="{{ authorization_endpoint }}" {{ authorization_endpoint ? "disabled" : "" }}>
                <div id="authorization_endpoint_help" class="form-text">Find your server's authorization endpoint and enter it here</div>
              </div>
              <div class="mb-3">
                <label for="token_endpoint" class="form-label">Token Endpoint</label>
                <input type="url" class="form-control" name="token_endpoint" aria-describedby="token_endpoint_help" value="{{ token_endpoint }}" {{ token_endpoint ? "disabled" : "" }}>
                <div id="token_endpoint_help" class="form-text">Find your server's token endpoint and enter it here</div>
              </div>

              {% if app.session.get('complete_introduction') %}
                <a href="{{ path('index') }}">Continue</a>
              {% else %}
                <button type="submit" class="btn btn-primary">Check</button>
              {% endif %}
            </form>
          {% endif %}

        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}
