{% extends 'base.html.twig' %}

{% block title %}{{ page_title }} - OAuth School{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-md-10 ml-md-auto">

      <h1>{{ page_title }}</h1>

      {% if app.session.get('complete_' ~ base_route) %}
        <div class="alert alert-success alert-large">
          <i class="fas fa-check-circle"></i> You have completed this exercise!
        </div>
      {% endif %}

      <p>Use the Authorization Code flow with PKCE to get an access token, and paste the entire response from the token endpoint in the box to check your work. Then, use the refresh token to get a new access token. (Note: only do this for accounts you've created specifically for this course, never paste access tokens from production systems in random websites like this!)</p>

      {% if app.session.get('complete_introduction') == false %}
        <div class="alert alert-warning" role="alert">
          <div>You need to complete the first exercise and enter your server's issuer URL before you can continue!</div>
          <div><a href="{{ path('introduction') }}">Back to Exercise 1</a></div>
        </div>
      {% endif %}

      {% for message in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">
          {{ message }}
        </div>
      {% endfor %}

      {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
          {{ message }}
        </div>
      {% endfor %}

      {% if(app.session.get('refresh_token_response_1') == null) %}

      <h2>Authorization Request</h2>
      <div class="card bg-light mb-3 mt-3 {{ app.session.get('complete_introduction') ? '' : 'disabled' }}">
        <div class="card-body">

          <form method="post" action="{{ path(base_route ~ '/authz') }}">
            <div class="mb-3">
              <textarea class="form-control" name="authorizationURL" aria-describedby="authorizationURLHelp" rows="4" placeholder="https://dev-XXXXXX.okta.com/oauth..." {{ app.session.flashbag.has('loginURL') ? 'readonly' }}>{{ app.session.flashbag.has('authorizationURL') ? app.session.flashbag.get('authorizationURL')[0] : '' }}</textarea>
              <div id="authorizationURLHelp" class="form-text">Create the initial URL for the authorization request and paste it above. Once it's correct, a "Log In" button with that URL will appear below</div>
            </div>
            {% if app.session.flashbag.has('loginURL') %}
              <a href="{{ app.session.flashbag.get('loginURL')[0] }}" class="btn btn-primary" target="_blank">Log In</a>
              <a href="" class="btn">Reset</a>
            {% else %}
              <button type="submit" class="btn btn-primary">Check Your URL</button>
            {% endif %}
          </form>

        </div>
      </div>


      <h2>Token Response</h2>
      <div class="card bg-light mb-3 mt-3 {{ app.session.get('complete_introduction') ? '' : 'disabled' }}">
        <div class="card-body">

          <form method="post" action="{{ path(base_route ~ '/save') }}">
            <div class="mb-3">
              <textarea class="form-control" name="tokenResponse" aria-describedby="tokenHelp" rows="8" placeholder="{&#13;  &quot;token_type&quot;: &quot;Bearer&quot;,&#13;  ...&#13;}"></textarea>
              <div id="tokenHelp" class="form-text">Use the authorization code flow to get an access token, then paste the entire token response JSON here to check your work</div>
            </div>
            <button type="submit" class="btn btn-primary">Check Your Response</button>
          </form>

        </div>
      </div>

      {% endif %}


      <h2>Refresh Token Response</h2>
      <div class="card bg-light mb-3 mt-3 {{ app.session.get('complete_introduction') and app.session.get('refresh_token_response_1') ? '' : 'disabled' }}">
        <div class="card-body">

          <form method="post" action="{{ path(base_route ~ '/refresh') }}">
            <div class="mb-3">
              <textarea class="form-control" name="tokenResponse" aria-describedby="tokenHelp" rows="8" placeholder="{&#13;  &quot;token_type&quot;: &quot;Bearer&quot;,&#13;  ...&#13;}"></textarea>
              <div id="tokenHelp" class="form-text">Use the refresh token to get a new access token, then paste the entire token response JSON here to check your work</div>
            </div>
            <button type="submit" class="btn btn-primary">Check Your Response</button>
            <a href="?reset=1" class="btn">Reset</a>
          </form>

        </div>
      </div>


    </div>
  </div>
</div>

{% endblock %}
