{# templates/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Welcome to OAuth School{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-md-10 ml-md-auto">

      <div id="header-image"><a href="https://www.udemy.com/course/oauth-2-simplified/?referralCode=B04F59AED67B8DA74FA7"></a></div>

      <h2>The Nuts and Bolts of OAuth 2.0</h2>

      <p>This website is a companion to the course <a href="https://www.udemy.com/course/oauth-2-simplified/?referralCode=B04F59AED67B8DA74FA7">The Nuts and Bolts of OAuth 2.0</a> and <a href="https://www.oreilly.com/search/?query=parecki&extended_publisher_data=true&highlight=true&include_assessments=false&include_case_studies=false&include_courses=true&include_playlists=false&include_collections=false&include_notebooks=false&include_sandboxes=false&include_scenarios=false&is_academic_institution_account=false&source=user&formats=live%20online%20training&sort=relevance&facet_json=true&json_facets=true&page=0&include_facets=false">Hands-on Introduction to OAuth 2.0</a> by Aaron Parecki. You should enroll in the course if you'd like to use this website!</p>

      <h3>What You'll Learn</h3>
      <p>OAuth 2.0, OpenID, PKCE, deprecated flows, JWTs, API Gateways, and scopes. No programming knowledge needed.</p>
      <ul class="learn">
        <li>&check; The basics of OAuth 2.0 and OpenID Connect</li>
        <li>&check; Best practices for developing OAuth applications (server-side, native, and SPAs)</li>
        <li>&check; How to implement an OAuth client from scratch</li>
        <li>&check; How to protect an API with JWT access tokens</li>
      </ul>

      <h2>Exercises</h2>

      <ul class="exercises">
        {% for key, name in exercises['client'] %}
          <li><i class="icon {{ status[key] ? 'fas fa-check-circle' : 'far fa-circle' }}"></i> <a href="{{ path(key) }}">{{ name }}</a></li>
        {% endfor %}
      </ul>

      <!--
      <h2>Exercises for API Developers</h2>

      <ul>
        {% for key, name in exercises['server'] %}
          <li>{{ status[key] ? '&check;' : '&#9711;' }} <a href="{{ path(key) }}">{{ name }}</a></li>
        {% endfor %}
      </ul>
      -->

    </div>
  </div>
</div>
<style>
#header-image {
  background: url(/img/course-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
  margin-bottom: 1em;
}
#header-image a {
  display: block;
  width: 100%;
  height: 100%;
}
ul.learn {
  list-style-type: none;
  padding: 0;
  padding-left: 20px;
}
ul.exercises {
  list-style-type: none;
  padding: 0;
}
ul.exercises li {
  display: flex;
  margin-bottom: 6px;
}
ul.exercises li a {
  font-size: 24px;
  text-decoration: none;
}
ul.exercises .icon {
  font-size: 36px;
  margin-right: 4px;
}
</style>

{% endblock %}
