{# templates/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Welcome to OAuth School{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-md-10 ml-md-auto">

      <p>Please note, this website is a companion to the course OAuth 2.0 Simplified by Aaron Parecki. You should enroll for that course if you'd like to use this website, as the instructions for using it are only in the course.</p>

      <h2>Exercises for Client Developers</h2>

      <ul>
        {% for key, name in exercises['client'] %}
          <li>{{ status[key] ? '&check;' : '&#9711;' }} <a href="{{ path(key) }}">{{ name }}</a></li>
        {% endfor %}
      </ul>

      <h2>Exercises for API Developers</h2>

      <ul>
        {% for key, name in exercises['server'] %}
          <li>{{ status[key] ? '&check;' : '&#9711;' }} <a href="{{ path(key) }}">{{ name }}</a></li>
        {% endfor %}
      </ul>

    </div>
  </div>
</div>

{% endblock %}
